@model iStay.Models.HostelInfo
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .red {
        color: red;
    }

    .text-area {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 5px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px;
    }
</style>

@if (TempData["registered"] != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    var message = '@TempData["registered"]';
                    swal({ title: "Registered", text: message, icon: "success" });
                }
    </script>
}
@if (TempData["msg"] != null)
{
    <script type="text/javascript">
                window.onload = function () {
                    var message = '@TempData["msg"]';
                    swal({ title: "Ooops", text: message, icon: "warning" });
                }
    </script>
}
@ViewBag.erroe
<div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12 text-center p-0 mt-3 mb-2">
        <div class="card" style="padding:25px">
            <h2 id="heading">Enter Your Hostel Information</h2>
            @using (Html.BeginForm("Register", "Hostel", FormMethod.Post, new { id = "msform", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <div class="form-card">
                        
                        <div class="row">
                            <div class="col">
                                <label class="fieldlabels">Hostel Name: <span class="text-danger">*</span></label>
                                @Html.EditorFor(model => model.hostel_name, new { htmlAttributes = new { @class = "input", placeholder = "Hostel Name" } })
                                @Html.ValidationMessageFor(model => model.hostel_name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col">
                                <label class="fieldlabels">Email: *</label>
                                @Html.EditorFor(model => model.hostel_email, new { htmlAttributes = new { @class = "input", placeholder = "hoste@gmail.com" } })
                                @Html.ValidationMessageFor(model => model.hostel_email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="fieldlabels">Hostel Address.: *</label>
                                @Html.TextAreaFor(model => model.hostel_address, new { htmlAttributes = new { @class = "input", placeholder = "Hostel Address" } })
                                @Html.ValidationMessageFor(model => model.hostel_address, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="fieldlabels">City.: *</label>@Html.DropDownListFor(model => model.CityID, ViewBag.CityList as SelectList, "--Select City--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="fieldlabels">Institute.: *</label>
                                <select name="institute" id="institute" multiple="multiple">
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="fieldlabels">Hostel For: *</label>
                                @Html.DropDownListFor(model => model.type, new List<SelectListItem>
                                    { new SelectListItem{Text="male", Value="Male"},
                                    new SelectListItem{Text="female", Value="female"}}, "-----Select-----", new { @class = "text-area" })
                                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label class="fieldlabels">Description.: *</label>
                                @Html.TextAreaFor(model => model.Desc, new { htmlAttributes = new { @class = "input", placeholder = "Hostel Description" } })
                                @Html.ValidationMessageFor(model => model.Desc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <label class="fieldlabels">Hostel Images</label>
                        @Html.TextBoxFor(model => model.files, "", new { @type = "file", @multiple = "multiple", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.files, "", new { @class = "text-danger" })
                        <br />
                        <label class="fieldlabels">Signature Photo:</label>
                        @Html.TextBoxFor(model => model.profile, "", new { @type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.profile, "", new { @class = "text-danger" })
                    </div>

                    <input type="submit" name="next" class="action-button" value="Register" />
                    @ViewBag.msg
                </fieldset>

            }

        </div>
    </div>
</div>

@section Scripts {

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script src="~/Content/js/BsMultiSelect.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>
    <script>
        $("#institute").bsMultiSelect({
                cssPatch: {
                    choices: { columnCount: '1' },
                }
            });

        $(document).ready(function () {
            $("#CityID").change(function () {

                $.get("/Hostel/GetInstitutes", { CityID: $("#CityID").val() }, function (data) {
                    $("#institute").empty();

                    $('#institute').multiselect('destroy');
                    $.each(data, function (Register, row)
                    {
                        $("#institute").append($('<option></option>').val(row.ID).html(row.Institutes_Name));
                    });

                    $('#institute').multiselect('rebuild');
                });
                if ($('#institute').multiselect('rebuild')) {
                    $('#institute').hide();
                }
            });
        });
    </script>
}



