@model IEnumerable < iStay.DB.HostelInfo>
@{ ViewBag.Title = "Home Page"; }

@{ Layout = "~/Views/Shared/_Layout2.cshtml"; }

<!-- ========== REVOLUTION SLIDER ========== -->
<section id="slider" class="full_slider">
    <div class="rev_slider_wrapper fullscreen-container">
        <div id="fullscreen_slider" class="rev_slider fullscreenbanner gradient_slider" style="display:none">
            <ul>

                <!-- SLIDE NR. 1 -->
                <li data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/images/slider/hostel-rooms2.jpg"
                         alt="Image"
                         title="slider_bg1-1"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="10"
                         class="rev-slidebg"
                         data-no-retina="">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="middle"
                         data-voffset="['-30','-30','-30','-30']"
                         data-responsive_offset="on"
                         data-fontsize="['60','50','40','30']"
                         data-lineheight="['60','50','40','30']"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         style="z-index: 5; color: #fff; font-weight: 900;">
                        iStay Hostel Finder
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="middle"
                         data-voffset="['45','45','45','45']"
                         data-fontsize="['16', '16', '14', '12']"
                         data-lineheight="['16', '16', '14', '12']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="3000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive="off"
                         data-elementdelay="0.05"
                         style="z-index: 9; font-weight: 400; color: rgba(255, 255, 255, 0.8); font-family: Raleway;">
                        Book Your Luxury Hostel
                    </div>
                </li>

                <!-- SLIDE NR. 2 -->
                <li data-transition="fade"
                    data-slotamount="7"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/images/slider/hostel_rooms.jpg"
                         alt="Image"
                         title="slider_bg1-2"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="10"
                         class="rev-slidebg"
                         data-no-retina="">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="middle"
                         data-voffset="['-30','-30','-30','-30']"
                         data-responsive_offset="on"
                         data-fontsize="['60','50','40','30']"
                         data-lineheight="['60','50','40','30']"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         style="z-index: 5; color: #fff; font-weight: 900;">
                        LUXURY EXPERIENCE
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="middle"
                         data-voffset="['45','45','45','45']"
                         data-fontsize="['16', '16', '14', '12']"
                         data-lineheight="['16', '16', '14', '12']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="3000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive="off"
                         data-elementdelay="0.05"
                         style="z-index: 9; font-weight: 400; color: rgba(255, 255, 255, 0.8); font-family: Raleway;">
                        Live Your Myth In Greece
                    </div>
                </li>

                <!-- SLIDE NR. 3 -->
                <li data-transition="fade"
                    data-slotamount="7"
                    data-easein="default"
                    data-easeout="default"
                    data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/Content/images/slider/hostel-rooms4.jpg"
                         alt="Image"
                         title="slider_bg1-3"
                         data-bgposition="center center"
                         data-bgfit="cover"
                         data-bgrepeat="no-repeat"
                         data-bgparallax="10"
                         class="rev-slidebg"
                         data-no-retina="">
                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="center"
                         data-hoffset=""
                         data-y="middle"
                         data-voffset="['-30','-30','-30','-30']"
                         data-responsive_offset="on"
                         data-fontsize="['60','50','40','30']"
                         data-lineheight="['60','50','40','30']"
                         data-whitespace="nowrap"
                         data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                         style="z-index: 5; color: #fff; font-weight: 900;">
                        BOOK YOUR ROOM NOW
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                         data-x="['center','center','center','center']"
                         data-hoffset=""
                         data-y="['middle','middle','middle','middle']"
                         data-voffset="['45','45','45','45']"
                         data-fontsize="['16', '16', '14', '12']"
                         data-lineheight="['16', '16', '14', '12']"
                         data-whitespace="nowrap"
                         data-transform_idle="o:1;"
                         data-transform_in="opacity:0;s:300;e:Power2.easeInOut;"
                         data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                         data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                         data-start="3000"
                         data-splitin="chars"
                         data-splitout="none"
                         data-basealign="slide"
                         data-responsive="off"
                         data-elementdelay="0.05"
                         style="z-index: 9; font-weight: 400; color: rgba(255, 255, 255, 0.8); font-family: Raleway;">
                        Family Room from €89 per night
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- ========== BOOKING FORM ========== -->
    <div class="hbf_2">
        <div class="container">
            <div class="inner">
                <form id="booking-form">
                    <div class="col-md-2 md_pr5">
                        <div class="form-group">
                            <input name="booking-email" type="text" id="email" value="" class="form-control" placeholder="Your Email Address">
                        </div>
                    </div>
                    <div class="col-md-2 md_p5">
                        <div class="form-group">
                            <div class="form_select">
                                <select name="booking-roomtype" class="form-control" title="Select Room Type" data-header="Room Type">
                                    <option value="Single">Single Room</option>
                                    <option value="Double">Double Room</option>
                                    <option value="Deluxe">Deluxe Room</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 arrival_date md_pl5 md_nopadding_right">
                                <div class="form-group">
                                    <div class="form_date">
                                        <input type="text" class="datepicker form-control md_noborder_right" name="booking-checkin" placeholder="Arrival Date" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 departure_date md_pr5 md_nopadding_left">
                                <div class="form-group">
                                    <div class="form_date departure">
                                        <input type="text" class="datepicker form-control" name="booking-checkout" placeholder="Departure Date" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 adults md_pl5 md_nopadding_right">
                                <div class="form-group">
                                    <div class="form_select">
                                        <select name="booking-adults" class="form-control md_noborder_right" title="Adults" data-header="Adults">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 children md_pr5 md_nopadding_left">
                                <div class="form-group">
                                    <div class="form_select childrens_select">
                                        <select name="booking-children" class="form-control dropup" title="Adults" data-header="Adults">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 md_pl5">
                        <button type="submit" class="button  btn_blue btn_full">BOOK A ROOM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

 
<!-- ========== ROOMS ========== -->
<section class="white_bg" id="rooms">
    <div class="container">
        <div class="main_title mt_wave mt_yellow a_center">
            <h2>OUR FAVORITE ROOMS</h2>
        </div>
        <p class="main_description a_center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</p>
        <div class="row">
            @{ 
                int counter = 0;
                foreach (var hostel in Model)
                {
                    <div class="col-md-4">
                        <article class="room">
                            <figure>
                                <div class="price">@hostel.city_name @*<span>/ month</span>*@</div>
                                <a class="hover_effect h_blue h_link" href="@Url.Action("Hostel_Detail","Home",new {id=hostel.ID })">
                                    @foreach (var img in hostel.Images)
                                    {
                                        if (img.Image_type == "profile")
                                        {
                                            <img src="~/uploadfiles/@img.img" class="img-responsive" alt="Image">

                                        }
                                    }

                                </a>
                                <figcaption>
                                    <h4><a href="@Url.Action("Hostel_Detail","Home",new {id=hostel.ID })">@hostel.hostel_name </a></h4>
                                    <span class="f_right"><a href="@Url.Action("Hostel_Detail","Home",new {id=hostel.ID })" class="button btn_sm btn_blue">VIEW DETAILS</a></span>
                                </figcaption>
                            </figure>
                        </article>
                    </div>
                    counter++;
                }
             }
        </div>
        <div class="mt40 a_center">
            <a class="button btn_sm btn_yellow" href="rooms-list.html">VIEW ROOMS LIST</a>
        </div>
    </div>
</section>
